// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";

.alertHide {
  display: none;
}

.logoDefense {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.logoKorps {
  width: 40%;
  display: block;
  margin: 0 auto;
}